<md-content class="md-padding">
    <form name="userForm">
        <md-card>
            <md-card-content>
                <h2 class="md-title">My info</h2>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Alias</label>
                        <input ng-model="user.alias">
                    </md-input-container>
                    <md-datepicker ng-model="user.birthdate" md-placeholder="Birth Date"></md-datepicker>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Language</label>
                        <md-select ng-model="user.language">
                            <md-option ng-repeat="language in languages.list" value="{{language}}">
                                {{language.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Sex</label>
                        <md-select ng-model="user.sex">
                            <md-option ng-repeat="sex in sexs" value="{{sex}}">
                                {{sex.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Country</label>
                        <md-select ng-model="user.country">
                            <md-option ng-repeat="country in countries.list" value="{{country}}">
                                {{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Why you want to learn that language?</label>
                    <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
                </md-input-container>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="updateMe(user)">Save</md-button>
            </div>
        </md-card>
    </form>
</md-content>
