<div ng-controller="NavbarCtrl" class="main-navbar
">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidebar()">
                    <ng-md-icon icon="menu" class="menu-icon"></ng-md-icon>
                </md-button>
                <h2>
                  <span>{{item.title}}</span>
                </h2>
                <span flex></span>
                <a ng-show="isAdmin()" class="mdl-navigation__link md-subhead" href="/admin">Admin</a>
                <a ng-hide="isLoggedIn()" class="mdl-navigation__link md-subhead" href="/signup">Sign up</a>
                <a ng-hide="isLoggedIn()" class="mdl-navigation__link md-subhead" href="/login">Login</a>
                <a ng-show="isLoggedIn()" class="mdl-navigation__link md-subhead" href="/settings">Hello {{ getCurrentUser().name }}</a>
                <a ng-show="isLoggedIn()" class="mdl-navigation__link md-subhead" ng-click="logout()" href="/login">Logout</a>
            </div>
        </md-toolbar>
    </md-content>
</div>
