.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.gridListdemoDynamicTiles .gray {
    background: #f5f5f5;
}

.gridListdemoDynamicTiles .green {
    background: #b9f6ca;
}

.gridListdemoDynamicTiles .yellow {
    background: #ffff8d;
}

.gridListdemoDynamicTiles .blue {
    background: #84ffff;
}

.gridListdemoDynamicTiles .darkBlue {
    background: #80d8ff;
}

.gridListdemoDynamicTiles .deepBlue {
    background: #448aff;
}

.gridListdemoDynamicTiles .purple {
    background: #b388ff;
}

.gridListdemoDynamicTiles .lightPurple {
    background: #8c9eff;
}

.gridListdemoDynamicTiles .red {
    background: #ff8a80;
}

.gridListdemoDynamicTiles .pink {
    background: #ff80ab;
}

.md-avatar-user {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
}

.card-user-detail {
    padding: 13px!important;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.card-user-detail h3 {
    margin-left: 0px;
}

.card-user-detail .user-detail-list {
    padding: 5px;
}

.card-user:hover .card-user-detail {
    height: 100%;
    background-color: rgb(0, 0, 0, .50);
}
